# Prometheus
ALERTMANAGER_CONFIG_PATH=/home/user/config/alert_manager.prod.config.yml

# Grafana
GF_PATHS_DATA=/data
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false